@media screen {
  body {
    font-family: var(--font-primary);
    color: rgb(var(--text-color-primary));
    background-color: rgb(var(--bg-color-primary));
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-header {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--text-color-secondary);
  }
}