@media screen {


  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  ul,
  ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  button {
    cursor: pointer;
    /* outline: none; */
  }

  a {
    text-decoration: none;
    /* outline: none; */
  }

  address {
    font-style: normal;
  }
}